blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==7.1.2
Flask==1.1.4
Flask-Login==0.6.2
Flask-Script==2.0.6
Flask-WTF==1.1.1
gevent==22.10.2
greenlet==2.0.2
idna==3.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
peewee==3.16.2
PyMySQL==1.0.3
requests==2.31.0
urllib3==2.0.2
Werkzeug==1.0.1
WTForms==3.0.1
zhconv==1.4.3
zope.event==4.6
zope.interface==6.0
